[{{ php_fpm_pool_name }}]

; User / group and directory related settings
user = {{ php_fpm_pool_user | default(php_fpm_pool_name) }}
group = {{ php_fpm_pool_group | default(php_fpm_pool_name) }}
{% if php_fpm_pool_chdir is defined %}
chdir = {{ php_fpm_www_dir + '/' + php_fpm_pool_name + '/' + php_fpm_pool_chdir }}
{% else %}
chdir = {{ php_fpm_www_dir + '/' + php_fpm_pool_name }}
{% endif %}
listen = /var/run/php/{{ php_fpm_pool_name }}.sock
listen.owner = {{ php_fpm_pool_user | default(php_fpm_pool_name) }}
listen.group = {{ php_fpm_pool_group | default(php_fpm_pool_name) }}
env[TMP] = {{ php_fpm_pool_tmpdir }}
env[TMPDIR] = {{ php_fpm_pool_tmpdir }}
env[TEMP] = {{ php_fpm_pool_tmpdir }}

; php-fpm worker mode settings
pm = {{ php_fpm_pool_pm | default('static') }}
pm.max_children = {{ php_fpm_pool_max_children | default("5") }}
pm.start_servers = {{ php_fpm_pool_start_servers | default("2") }}
pm.min_spare_servers = {{ php_fpm_pool_min_spare_servers | default("1") }}
pm.max_spare_servers = {{ php_fpm_pool_max_spare_servers | default("3") }}
pm.process_idle_timeout = {{ php_fpm_pool_process_idle_timeout | default("10s") }}
pm.max_requests = {{ php_fpm_pool_max_requests | default("0") }}

; logging settings TODO can't find doc on how to send all of this to syslog
catch_workers_output = yes
access.log = /var/log/php/{{ php_fpm_version }}/{{ php_fpm_pool_name }}.access.log
php_admin_flag[log_errors] = on
php_admin_value[error_log] = /var/log/php/{{ php_fpm_version }}/{{ php_fpm_pool_name }}.error.log
slowlog = /var/log/php/{{ php_fpm_version }}/{{ php_fpm_pool_name }}.slow.log
request_slowlog_timeout = 10

; additional settings
{% for key in php_fpm_pool_additional_variables | default({}) %}
{{ key }} = {{ php_fpm_pool_additional_variables[key] }}
{% endfor %}
